/* Space out content a bit */

html, body, .pagewrap {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #fff;
  font-family: 'Verdana'
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  /*border-top: 1px solid #e5e5e5;*/
}

/* Customize container */

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.container {
  min-height: 100%;
  height: 100%;
}
.container h1{
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  background: none;
}
.page-1{
  background: #AF5959;
  height: 100%;
  overflow: hidden;
}
.page-2{
  background: #6759AF;
  height: 100%;
  overflow: hidden;
}
.page-button{
  padding: 20px;
  background: #3D3C3D;
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  width: 150px;
  text-align: center;
}
.page-button:hover{
  text-decoration: underline;
}

